body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 12 \2502   &img{\d\a    \2502   ^^^^\a    \2575 \a   scss\\_galeria.scss 12:2  @import\a   scss\\main.scss 8:9       root stylesheet';
}
.offcanvas{
  background-color: #e6aab9;
}
.contenedor{
  display: flexbox;
  justify-content: end;
  width: 100px;

}
.carousel-inner{
  width: 100%;
}
.carousel-item active img{
  height: 500px;
}
.carousel-item{
  height: 500px;
}
.menu{
  display: flex;
  position: sticky;
  width: 100px;
  align-items: end;
}
.menu ul{
  display: flex;
  justify-content: space-around;

}
.menu ul li {
  list-style: none;
  text-decoration: none;
}
.servicios {
  color: #ffe4b5;
}
.row {
  display: inline-flex;
  width: 100%;
  list-style: none;
  text-decoration: none;
  align-items: left;
}
.card{
  width: 80%;
}
.tarjeta {
height: 200px;
}

.card img{
  height: 160px;
}
.espacio{
  height: 20px;
}
footer {
  display: inline-flex;
  width: 100%;
  font-size: medium;
  background-color: #f5deb3;
  position: sticky;
  height: 30px;
}
.informacion{
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.container text-center{
  display: flexbox;
  justify-content: center;
  width: 100%;
}
.titulo{
  color: #f36a8c;
}
.text{
  width: 100%;
}
.card-body{
  align-items: center;
  width: 600px;
}
.servicio-card img{
  height: 500px;
  width: 600px;
}
.cancelacion{
  background-color: #f36a8c;
}
.sin-color{
  background-color: #e6aab9;
}
#carrete{
  margin: 60px 60px 60px 60px;
}
.servicio-card{
  margin: 20px;
}
#espacio{
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
}
.clearfix{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}
.clearfix img{
  height: 200px;
  width: 200px;
}
.informacion{
  height: 16px;
  width: 16px;
}

