.informacion{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.container text-center{
    display: flexbox;
    justify-content: center;
    width: 100%;
}
.titulo{
    color: #f36a8c;
}
.text{
    width: 100%;
}
.cancelacion{
    background-color: #f36a8c;
}
.sin-color{
    background-color: #e6aab9;
}
